:root {
  --primary-color: var(--color-primary);
  --secondary-color: var(--text-color);
  --neutral-color: var(--color-neutral-800);
  --background-color: var(--back-color);
  --subtext-color: var(--subtext-color);
  --border-radius: 1rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-title: 7rem;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --padding-large: 4rem;
  --button-height: 2.8rem;
  --button-icon-size: 2.2rem;
  --button-border-width: 2px;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.landing .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.landing .pill {
  position: absolute;
  top: 8rem;
  background-color: var(--secondary-color);
  color: var(--neutral-color);
  font-size: var(--font-size-small);
  padding: var(--padding-small) calc(var(--padding-small) * 1.5);
  border-radius: var(--border-radius);
  transition: all .3s;
  border: var(--button-border-width) solid var(--secondary-color);
}

.landing .pill:hover {
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.landing .pill .size-4 {
  padding-left: .25rem;
  width: 1rem;
}

.landing .text .up-title {
  font-size: var(--font-size-title);
  letter-spacing: 2.5px;
  font-weight: 500;
}

.landing .title span {
  color: var(--primary-color);
}

.landing .img_logo {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: .5rem;
  left: 1rem;
}

.landing .title {
  font-weight: 900;
  font-size: var(--font-size-title);
  letter-spacing: 2.5px;
}

.landing .subtitle {
  font-weight: 600;
  max-width: 75%;
  padding: var(--padding-small);
  font-size: var(--font-size-medium);
  letter-spacing: 1px;
  text-align: center;
  color: var(--subtext-color);
}

.landing img {
  position: relative;
}

.cssbuttons-io-button {
  background: var(--primary-color);
  color: white;
  font-family: inherit;
  padding: 0.35em var(--padding-medium);
  font-size: var(--font-size-medium);
  font-weight: 400;
  border-radius: var(--border-radius);
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: var(--button-height);
  padding-right: 3.1rem;
  margin: var(--padding-small);
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: var(--padding-medium);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-icon-size);
  width: var(--button-icon-size);
  border-radius: .7rem;
  right: 0.4rem;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6rem);
}

.cssbuttons-io-button .icon svg {
  width: 1.1rem;
  transition: transform 0.3s;
  color: var(--primary-color);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1rem);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.buttons {
  display: flex;
}

.cssbuttons-io-button.two {
  background-color: transparent;
  padding-right: 1.2rem;
  border: var(--button-border-width) solid var(--secondary-color);
  transition: all 0.3s;
}

.cssbuttons-io-button.two:hover {
  background-color: var(--secondary-color);
  color: var(--neutral-color);
}

.whatishydra {
  display: flex;
  min-height: 50vh;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding-large);
}

@keyframes infiniteLoop {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-150px * 10));
  }
}

.marquee {
  max-height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  margin-block: 4rem;
}

.marquee::before,
.marquee::after {
  content: "";
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, rgb(22, 22, 22) 0%, rgba(250, 250, 240, 0) 100%);
  position: absolute;
  z-index: 2;
}

.marquee::before {
  top: 0;
  left: 0;
}

.marquee::after {
  top: 0;
  right: 0;
  transform: rotateZ(180deg);
}

.marqueeTrack {
  display: flex;
  width: calc(150px * 20);
  animation: infiniteLoop 15s linear infinite;
}

.brandLogo {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-large);
  font-weight: bold;
  color: #6b6b6b;
  margin: auto;
  white-space: nowrap;
  padding: var(--padding-small);
}
